@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	dialog {
		margin: auto !important;
	}

	input{
		accent-color: theme(accentColor.sky.300) !important;
	}
	.thread {
		isolation: isolate;
	}

	.thread::after {
		z-index: -1 !important;
	}

	@font-face {
		font-family: 'carbon'; /* Name that you'll use to reference this font */
		src: url('/src/lib/font/carbon-bl.otf') format('opentype'); /* Path to your .otf font file */
	}

	@font-face {
		font-family: 'public-sans'; /* Name that you'll use to reference this font */
		src: url('/src/lib/font/public-sans.ttf') format('truetype'); /* Path to your .otf font file */
	}

	@font-face {
		font-family: 'rubik'; /* Name that you'll use to reference this font */
		src: url('/src/lib/font/Rubik-VariableFont_wght.ttf') format('truetype'); /* Path to your .otf font file */
	}

	@font-face {
		font-family: 'Fira Code'; /* Name that you'll use to reference this font */
		src: url('/src/lib/font/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Path to your .otf font file */
	}

	*::-webkit-scrollbar {
		display: block;
		width: var(--sds, 14px);
		/* position: absolute; */
	}

	*::-webkit-scrollbar-button {
		display: none;
	}

	*::-webkit-scrollbar-track {
		background-color: var(--strack, theme(colors.white));
	}

	*::-webkit-scrollbar-track-piece {
		background-color: #00000000;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #00000040;
		border: 1px solid #ffffff40;
		border-radius: 24px;
	}

	:is(.dark) {
		--scroll-bg: theme(colors.stone.800);
		--strack: theme(colors.primary);
		/* --squiggle-color: red; */
	}

	/* box-sizing: /; */
	*::-webkit-scrollbar-thumb {
		background-color: #00000000;
		border: 5px solid transparent;

		border-radius: 24px;
		box-shadow: 4px 0px 0px 4px var(--scroll-bg, theme(colors.sky.500)) inset;
	}

	.splitpanes.my-theme .splitpanes__pane {
		@apply bg-black;
		height: 100%;
	}

	.splitpanes.my-theme .splitpanes__splitter {
		background-color: #cccccc00;
		position: relative;
		@apply border-x-8  border-black;
	}

	.splitpanes.my-theme.ignore > .splitpanes__splitter {
		@apply border-y-8 border-primary;
	}

	.splitpanes.my-theme .splitpanes__splitter:before {
		content: 'Double Click to expand';
		position: absolute;
		left: 0;
		top: 0;
		padding: 3px;
		color: black;
		transition: opacity 0.4s;
		opacity: 0;
		z-index: 1;
		background-color: #7dd3fc;
		font-size: 9px;
	}

	.splitpanes.my-theme .splitpanes__splitter:hover:before {
		opacity: 1;
	}

	.splitpanes.my-theme .splitpanes__splitter.splitpanes__splitter__active {
		z-index: 2;
	}

	.my-theme.splitpanes--vertical > .splitpanes__splitter:before {
		left: -10px;
		right: -10px;
		height: 100%;
		cursor: col-resize;
		writing-mode: vertical-lr;
	}

	.my-theme.splitpanes--horizontal > .splitpanes__splitter:before {
		top: -10px;
		bottom: -10px;
		width: 100%;
		cursor: row-resize;
	}

	.tooltip-text {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		width: 100px;
		color: white;
		background-color: #192733;
		padding: 5px;
	}

	.hover-text:hover .tooltip-text {
		visibility: visible;
	}

	.top {
		top: -40px;
		left: -50%;
	}

	.bottom {
		top: 25px;
		left: -50%;
	}

	.left {
		top: -8px;
		right: 120%;
	}

	.right {
		top: -8px;
		left: 120%;
	}

	.hover-text {
		position: relative;
		display: inline-block;
		margin: 40px;
		text-align: center;
	}

	.article pre {
		padding: theme(padding.3);
		overflow: scroll;
		/* font-size: theme(fontSize.xs); */
		@apply rounded-2xl border-sky-dark;
	}

	.article h1 {
		font-family: 'Rubik', serif !important;
		text-transform: capitalize;
		@apply py-1 text-3xl text-black dark:text-white md:text-4xl;
		font-weight: 500;
	}

	.article h2 {
		/* font-family: Roboto Slab, serif !important; */
		/* font-size: 2.5rem; */
		font-family: 'Rubik', serif !important;

		padding-block: 1;
		font-weight: 500;
		@apply py-1 text-2xl text-black dark:text-white md:text-3xl;
	}

	.article h3 {
		/* font-family: Roboto Slab, serif !important; */
		font-family: 'Rubik', serif !important;

		font-weight: 500;

		@apply py-1 text-xl text-black dark:text-white md:text-2xl;

		/* color: theme(colors.orang); */
	}

	.article h4 {
		font-family: 'Rubik', serif !important;
		@apply py-1 text-lg text-black dark:text-white md:text-xl;

		font-weight: 500;
		/* color: theme(colors.orang); */
	}

	.article code {
		/* background-color: #888; */
		@apply bg-sky-300 p-1 text-base text-primary;
		/* font-size: inherit !important; */
	}

	.article p {
		line-height: 35px;
	}
	.article pre > code {
		background-color: inherit !important;
		font-family: 'Rubik';
		text-decoration: none;
		/* font-size: 20px !important; */
		font-weight: 500;
		@apply text-base lg:text-xl;
	}

	.splitpanes.embed-theme .splitpanes__pane {
		/* background: orange; */
		height: 100%;
	}

	.splitpanes.embed-theme .splitpanes__splitter {
		/* background: orange; */
		position: relative;
		@apply border-x-8 border-secondary-dark;
	}

	.splitpanes.embed-theme .splitpanes__splitter:before {
		content: 'Double Click to expand';
		position: absolute;
		left: 0;
		top: 0;
		color: whitesmoke;
		transition: opacity 0.4s;
		opacity: 0;
		z-index: 1;
		font-size: 9px;
		background-color: #222;
		writing-mode: vertical-lr;
	}

	.splitpanes.embed-theme .splitpanes__splitter:hover:before {
		opacity: 1;
	}

	.splitpanes.embed-theme .splitpanes__splitter.splitpanes__splitter__active {
		z-index: 2;
	}

	.embed-theme.splitpanes--vertical > .splitpanes__splitter:before {
		left: -10px;
		right: -10px;
		height: 100%;
		cursor: col-resize;
	}

	.embed-theme.splitpanes--horizontal > .splitpanes__splitter:before {
		top: -10px;
		bottom: -10px;
		width: 100%;
		cursor: row-resize;
	}

	.article pre::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.sick-hover {
		position: relative;
	}

	.sick-hover::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 1px;
		opacity: 0.3;
		@apply bg-sky-300;
		transition: all 0.3s ease;
	}

	.sick-hover:hover::after {
		height: 100%;
	}

	.article strong {
		font-weight: bold;
	}

	.article ul {
		list-style: disc;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.article ol {
		list-style: decimal;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.article a {
		color: theme(colors.sky.400);
		text-decoration: underline;
	}
}
