@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.splitpanes.my-theme .splitpanes__pane {
		@apply bg-white dark:bg-black;
		height: 100%;
	}

	.splitpanes.my-theme .splitpanes__splitter {
		background-color: #cccccc00;
		position: relative;
		@apply border-x-4 border-gray-100 dark:border-black;
	}

	.splitpanes.my-theme .splitpanes__splitter:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity 0.4s;
		opacity: 0;
		z-index: 1;
		@apply bg-secondary-dark;
	}

	.splitpanes.my-theme .splitpanes__splitter:hover:before {
		opacity: 1;
	}

	.splitpanes.my-theme .splitpanes__splitter.splitpanes__splitter__active {
		z-index: 2;
	}

	.my-theme.splitpanes--vertical > .splitpanes__splitter:before {
		left: -10px;
		right: -10px;
		height: 100%;
		cursor: col-resize;
	}

	.my-theme.splitpanes--horizontal > .splitpanes__splitter:before {
		top: -10px;
		bottom: -10px;
		width: 100%;
		cursor: row-resize;
	}
	.mtk4 {
		color: brown !important;
	}
	.mtk12 {
		color: blueviolet !important;
	}
	.tooltip-text {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		width: 100px;
		color: white;
		background-color: #192733;
		padding: 5px;
	}

	.hover-text:hover .tooltip-text {
		visibility: visible;
	}

	.top {
		top: -40px;
		left: -50%;
	}

	.bottom {
		top: 25px;
		left: -50%;
	}

	.left {
		top: -8px;
		right: 120%;
	}

	.right {
		top: -8px;
		left: 120%;
	}

	.hover-text {
		position: relative;
		display: inline-block;
		margin: 40px;
		text-align: center;
	}

	.article pre {
		padding: theme(padding.3);
		overflow: scroll;
		font-size: theme(fontSize.base);
		@apply border-8 border-sky-200   rounded-b-2xl;
	}
	.article pre::after {
		position: absolute;
		top: 0;
		height: 100%;
		background-color: red;
	}

	.article h2 {
		font-size: theme(fontSize.4xl);
		padding-top: theme(padding.4);
		font-weight: theme(fontWeight.bold);
		/* color: theme(colors.orang); */
		text-transform: capitalize;
	}
	.article h1 {
		font-size: theme(fontSize.5xl);
		padding-block: theme(padding.5);
		font-weight: theme(fontWeight.bold);
		/* color: theme(colors.orang); */
		/* text-transform: t; */
	}

	.article h3 {
		font-size: theme(fontSize.2xl);
		padding-block: theme(padding.3);
		font-weight: theme(fontWeight.bold);
		/* color: theme(colors.orang); */
	}
	.article h4 {
		font-size: theme(fontSize.xl);
		padding-block: theme(padding.3);
		font-weight: theme(fontWeight.bold);
		/* color: theme(colors.orang); */
	}
}
