@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.splitpanes.my-theme .splitpanes__pane {
		@apply bg-white dark:bg-black;
		height: 100%;
	}

	.splitpanes.my-theme .splitpanes__splitter {
		background-color: #cccccc00;
		position: relative;
		@apply border-x-4 border-gray-100 dark:border-black;
	}

	.splitpanes.my-theme .splitpanes__splitter:before {
		content: 'Double Click to expand';
		position: absolute;
		left: 0;
		top: 0;
		color: black;
		transition: opacity 0.4s;
		opacity: 0;
		z-index: 1;
		background-color: #7dd3fc;
		font-size: 9px;
	}

	.splitpanes.my-theme .splitpanes__splitter:hover:before {
		opacity: 1;
	}

	.splitpanes.my-theme .splitpanes__splitter.splitpanes__splitter__active {
		z-index: 2;
	}

	.my-theme.splitpanes--vertical > .splitpanes__splitter:before {
		left: -10px;
		right: -10px;
		height: 100%;
		cursor: col-resize;
	}

	.my-theme.splitpanes--horizontal > .splitpanes__splitter:before {
		top: -10px;
		bottom: -10px;
		width: 100%;
		cursor: row-resize;
	}
	.mtk4 {
		color: brown !important;
	}
	.mtk12 {
		color: blueviolet !important;
	}
	.tooltip-text {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		width: 100px;
		color: white;
		background-color: #192733;
		padding: 5px;
	}

	.hover-text:hover .tooltip-text {
		visibility: visible;
	}

	.top {
		top: -40px;
		left: -50%;
	}

	.bottom {
		top: 25px;
		left: -50%;
	}

	.left {
		top: -8px;
		right: 120%;
	}

	.right {
		top: -8px;
		left: 120%;
	}

	.hover-text {
		position: relative;
		display: inline-block;
		margin: 40px;
		text-align: center;
	}

	.article pre {
		padding: theme(padding.3);
		overflow: scroll;
		font-size: theme(fontSize.sm);
		@apply rounded-2xl border;
	}

	.article h2 {
		font-family: Roboto Slab, serif !important;

		/* color: theme(colors.orang); */
		text-transform: capitalize;
		@apply text-3xl md:text-4xl py-2 dark:text-[rgba(255,228,230,.9)];
		font-weight: 500;
		color: black;
	}

	.article h1 {
		font-family: Roboto Slab, serif !important;
		font-size: 3rem;
		padding-block: 1;
		/* font-weight: theme(fontWeight.bold); */
		/* color: theme(colors.orang); */
		/* text-transform: t; */
		color: black;
		font-weight: 500;
		@apply text-2xl md:text-3xl py-2 dark:text-[rgba(255,228,230,.9)];
	}

	.article h3 {
		font-family: Roboto Slab, serif !important;

		font-weight: 500;
		color: black;
		@apply text-xl md:text-2xl py-2 dark:text-[rgba(255,228,230,.9)];

		/* color: theme(colors.orang); */
	}
	.article h4 {
		font-family: Roboto Slab, serif !important;
		color: black;
		@apply text-lg md:text-xl py-2 dark:text-[rgba(255,228,230,.9)];

		/* font-weight: theme(fontWeight.bold); */
		/* color: theme(colors.orang); */
	}

	.article code {
		/* background-color: #888; */
		@apply rounded  bg-sky-100  dark:text-black;
		font-size: 1rem;
		padding: 2px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Adjusted', 'Segoe UI',
			'Liberation Sans', sans-serif;
	}
	.article pre > code {
		background-color: inherit !important;
		font-family: inherit;
		font-size: 14px !important;

		@apply text-sm lg:text-base;
	}

	:root {
		--shiki-color-text: green;
		--shiki-color-background: theme(backgroundColor.sky.400);
		--shiki-token-constant: orange;
		--shiki-token-string: blue;
		--shiki-token-comment: #880000;
		--shiki-token-keyword: #990000;
		--shiki-token-parameter: #aa0000;
		--shiki-token-function: #bb0000;
		--shiki-token-string-expression: #cc0000;
		--shiki-token-punctuation: #dd0000;
		--shiki-token-link: #ee0000;
	}

	.splitpanes.embed-theme .splitpanes__pane {
		background-color: transparent;
		height: 100%;
	}

	.splitpanes.embed-theme .splitpanes__splitter {
		background-color: transparent;
		position: relative;
		@apply border-x-4 border-secondary-dark;
	}

	.splitpanes.embed-theme .splitpanes__splitter:before {
		content: 'Double Click to expand';
		position: absolute;
		left: 0;
		top: 0;
		color: black;
		transition: opacity 0.4s;
		opacity: 0;
		z-index: 1;
		font-size: 9px;
		@apply bg-secondary-dark;
		/* writing-mode: horizontal-tb; */
	}

	.splitpanes.embed-theme .splitpanes__splitter:hover:before {
		opacity: 1;
	}

	.splitpanes.embed-theme .splitpanes__splitter.splitpanes__splitter__active {
		z-index: 2;
	}

	.embed-theme.splitpanes--vertical > .splitpanes__splitter:before {
		left: -10px;
		right: -10px;
		height: 100%;
		cursor: col-resize;
	}

	.embed-theme.splitpanes--horizontal > .splitpanes__splitter:before {
		top: -10px;
		bottom: -10px;
		width: 100%;
		cursor: row-resize;
	}

	.article pre::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.article ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 6px;
		/* list-style-type: disc; */
	}

	/* .article h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply dark:text-[rgba(255,228,230,.9)];
	} */
}
